body{
    background-color: rgb(213, 223, 226);
    background-image: url(..//picter12.jpg);
    background-repeat: no-repeat;
    background-size: 155%;
    
}
h1{
    color: rgb(208, 18, 145);
    font-size: 250%;
    align-content: center;
    justify-content: center;
    
}
#list{
    font-size: larger;
    font-size: 220%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    background-image: url(..//picter12.jpg);
    background-size: 90%;
    list-style-image: url(..//picter12.jpg);
    
}